mixin info-banner(props)
    .info-banner&attributes(attributes)
        .info-banner__title= props.title
        .info-banner__banner
            .d-flex.justify-content-between.align-items-center
                .info-banner__item
                    .info-banner__item-title Просмотры
                    .info-banner__item-value 129 855
                .info-banner__item
                    .info-banner__item-title Клики
                    .info-banner__item-value 4256
                .info-banner__item
                    .info-banner__item-title Расход
                    .info-banner__item-value $2459
