mixin input-text(props)
    .input-text&attributes(attributes)
        .input-text__wrapper
            input.form-control.input-text__input(type= props.type id= props.id placeholder= props.placeholder, maxlength=props.maxlength, class=props.class)
            if(props.maxlength)
                span.input-text__length= props.maxlength
        if(props.smallText)
            small.form-text.text-muted= props.smallText
