mixin input-text(props)
    input(type= props.type class='form-control' id= props.id placeholder= props.placeholder)&attributes(attributes)
    if(props.smallText)
        small.form-text.text-muted= props.smallText
