mixin accordion()
    .accordion#accordion&attributes(attributes)
        .accordion__wrapper
            .accordion__item-wrapper
                button.accordion__item.collapsed(type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne") Как сделать расчёт самому?
                    .accordion__item-arrow
                        +icon('arrow')
                .collapse#collapseOne(data-parent="#accordion")
                    .accordion__item-content
                        .accordion__item-text Перед каждой выплатой, мы тщательно проверяем площадки при подозрении на накрутку. Все подозрительные клики аннулируются и средства возвращаются рекламодателям.

            .accordion__item-wrapper
                button.accordion__item.collapsed(type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo") Что такое "охват по текущим фильтрам"?
                    .accordion__item-arrow
                        +icon('arrow')
                .collapse#collapseTwo(data-parent="#accordion")
                    .accordion__item-content
                        .accordion__item-text Перед каждой выплатой, мы тщательно проверяем площадки при подозрении на накрутку. Все подозрительные клики аннулируются и средства возвращаются рекламодателям.



