.input-refs {
    max-width: 500px;

    &__title {
        margin-bottom: 10px;
        font-size: 1rem;
        font-weight: 500;
        color: $text-secondary;
    }

    &__wrapper {
        display: flex;
        align-items: center;
        padding-top: 3px;
        padding-bottom: 3px;
        border: 1px solid #e0e0e0;
        border-radius: 5px;
        background-color: $white;
    }

    &__input {
        border: none;
        background-color: transparent !important;
    }

    &__btn {
        margin-right: 5px;
        white-space: nowrap;

        @media screen and (max-width: 767px) {
            padding: 10px;
            font-size: 0;
        }

        .icon {
            margin-top: -3px;
            margin-right: 5px;
            width: 14px;
            height: 14px;
            fill: $white;

            @media screen and (max-width: 767px) {
                margin: 0;
            }
        }
    }
}
