mixin traffic-conversion()
    .traffic-conversion&attributes(attributes)
        .row.traffic-conversion__wrapper
            h3.col-12.col-lg-6.traffic-conversion__title Отличное конвертирование<br> трафика форматов:
            ul.col-12.col-lg-6.traffic-conversion__list
                li.traffic-conversion__item
                    +icon('games')
                    .traffic-conversion__item-text Игры и казино
                li.traffic-conversion__item
                    +icon('erotic')
                    .traffic-conversion__item-text Эротика и порно
                li.traffic-conversion__item
                    +icon('films')
                    .traffic-conversion__item-text Фильмы
                li.traffic-conversion__item
                    +icon('webcam')
                    .traffic-conversion__item-text Вебкам
                li.traffic-conversion__item
                    +icon('nutra')
                    .traffic-conversion__item-text Нутра
