include ../mixins.pug
doctype html
block vars
html(lang="ru-RU")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title #{title}
    body
        block header

        block content

        block footer
