include ../mixins.pug
doctype html
block vars
block includes
html(lang="ru-RU")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="css/main.min.css")
        title #{title}
    body
        block header

        block content

        block footer

        block scripts

        //- script(src='http://code.jquery.com/jquery-3.3.1.min.js')
        script(src='js/main.js')
