mixin reviews()
    .reviews&attributes(attributes)
        .reviews__wrapper
            h3.reviews__title Отзывы о нас
            .row.reviews__list
                a(href='#').col-6.col-sm-3.reviews__link
                    img(src='img/masterx.png' alt='review')
                a(href='#').col-6.col-sm-3.reviews__link
                    img(src='img/cy-pr.png' alt='review')
                a(href='#').col-6.col-sm-3.reviews__link
                    img(src='img/kote.png' alt='review')
                a(href='#').col-6.col-sm-3.reviews__link
                    img(src='img/general.png' alt='review')
