//- Для добавления скролла к таблице нужно добавить аттрибут data-simplebar

mixin data-table()
    .data-table&attributes(attributes)
        .data-table__header
            .data-table__title Тизеры
            .data-table__title.data-table__title-click Кликандер
        .table-responsive(data-simplebar)
            table.table.table-striped
                thead
                    tr
                        th Дата
                        th Просмотры
                        th Клики
                        th CTR
                        th CRM
                        th Просмотры
                        th Клики
                        th CTR
                        th Доход
                tbody
                    tr
                        td 02.10.2019
                        td 452 411
                        td 4 411
                        td 4,3
                        td 4,3
                        td 452 411
                        td 4 411
                        td 4,3
                        td.bold 411 $
                    tr
                        td 02.10.2019
                        td 452 411
                        td 4 411
                        td 4,3
                        td 4,3
                        td 452 411
                        td 4 411
                        td 4,3
                        td.bold 411 $
                    tr
                        td 02.10.2019
                        td 452 411
                        td 4 411
                        td 4,3
                        td 4,3
                        td 452 411
                        td 4 411
                        td 4,3
                        td.bold 411 $
                    tr
                        td 02.10.2019
                        td 452 411
                        td 4 411
                        td 4,3
                        td 4,3
                        td 452 411
                        td 4 411
                        td 4,3
                        td.bold 411 $
                    tr
                        td 02.10.2019
                        td 452 411
                        td 4 411
                        td 4,3
                        td 4,3
                        td 452 411
                        td 4 411
                        td 4,3
                        td.bold 411 $
                    tr
                        td 02.10.2019
                        td 452 411
                        td 4 411
                        td 4,3
                        td 4,3
                        td 452 411
                        td 4 411
                        td 4,3
                        td.bold 411 $
                    tr
                        td 02.10.2019
                        td 452 411
                        td 4 411
                        td 4,3
                        td 4,3
                        td 452 411
                        td 4 411
                        td 4,3
                        td.bold 411 $
                    tr
                        td 02.10.2019
                        td 452 411
                        td 4 411
                        td 4,3
                        td 4,3
                        td 452 411
                        td 4 411
                        td 4,3
                        td.bold 411 $
                    tr
                        td 02.10.2019
                        td 452 411
                        td 4 411
                        td 4,3
                        td 4,3
                        td 452 411
                        td 4 411
                        td 4,3
                        td.bold 411 $
                    tr
                        td 02.10.2019
                        td 452 411
                        td 4 411
                        td 4,3
                        td 4,3
                        td 452 411
                        td 4 411
                        td 4,3
                        td.bold 411 $

mixin data-table-ad()
    .data-table.data-table_ad&attributes(attributes)
        .table-responsive(data-simplebar)
            table.table.table-striped
                thead
                    tr
                        th ID
                        th Статус
                        th Название
                        th Объявления
                        th Формат
                        th Тематика
                        th Цель
                        th CTR
                        th CRM
                        th Расход
                        th
                tbody
                    tr
                        td 1144
                        td
                            span.data-table__td-status
                        td pornhub.com
                        td
                            span.data-table__td-ad.data-table__td-ad-primary 1
                            span.data-table__td-ad.data-table__td-ad-blue 62
                        td Тизеры
                        td Адалт
                        td Товар
                        td 4,3
                        td 4,3
                        td $4 521
                        td
                            button.data-table__td-settings(type='button' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="0,10")
                                +icon('settings')
                                .dropdown-menu.dropdown-menu-right.data-table__dropdown
                                    ul.data-table__dropdown-list
                                        li.data-table__dropdown-list-item
                                            a(href='#').data-table__dropdown-list-link Добавить рекламный блок
                                        li.data-table__dropdown-list-item
                                            a(href='#').data-table__dropdown-list-link Управление тизерами
                                        li.data-table__dropdown-list-item
                                            a(href='#').data-table__dropdown-list-link Редактировать
                                        li.data-table__dropdown-list-item
                                            a(href='#').data-table__dropdown-list-link Остановить

                    tr
                        td 1154
                        td
                            span.data-table__td-status
                        td redtube.com
                        td
                            span.data-table__td-ad.data-table__td-ad-primary 1
                            span.data-table__td-ad.data-table__td-ad-blue 62
                        td ClickUnder
                        td WAP
                        td Товар
                        td 4,3
                        td 4,3
                        td $4 521
                        td
                            button.data-table__td-settings(type='button' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="0,10")
                                +icon('settings')
                                .dropdown-menu.dropdown-menu-right.data-table__dropdown
                                    ul.data-table__dropdown-list
                                        li.data-table__dropdown-list-item
                                            a(href='#').data-table__dropdown-list-link Добавить рекламный блок
                                        li.data-table__dropdown-list-item
                                            a(href='#').data-table__dropdown-list-link Управление тизерами
                                        li.data-table__dropdown-list-item
                                            a(href='#').data-table__dropdown-list-link Редактировать
                                        li.data-table__dropdown-list-item
                                            a(href='#').data-table__dropdown-list-link Остановить
                    tr
                        td 1144
                        td
                            span.data-table__td-status.data-table__td-status-very-important
                        td pornhub.com
                        td
                            span.data-table__td-ad.data-table__td-ad-primary 1
                            span.data-table__td-ad.data-table__td-ad-blue 62
                        td Тизеры
                        td Адалт
                        td Товар
                        td 4,3
                        td 4,3
                        td $4 521
                        td
                            button.data-table__td-settings(type='button' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="0,10")
                                +icon('settings')
                                .dropdown-menu.dropdown-menu-right.data-table__dropdown
                                    ul.data-table__dropdown-list
                                        li.data-table__dropdown-list-item
                                            a(href='#').data-table__dropdown-list-link Добавить рекламный блок
                                        li.data-table__dropdown-list-item
                                            a(href='#').data-table__dropdown-list-link Управление тизерами
                                        li.data-table__dropdown-list-item
                                            a(href='#').data-table__dropdown-list-link Редактировать
                                        li.data-table__dropdown-list-item
                                            a(href='#').data-table__dropdown-list-link Остановить
                    tr
                        td 1154
                        td
                            span.data-table__td-status.data-table__td-status-important
                        td redtube.com
                        td
                            span.data-table__td-ad.data-table__td-ad-primary 1
                            span.data-table__td-ad.data-table__td-ad-blue 62
                        td ClickUnder
                        td WAP
                        td Товар
                        td 4,3
                        td 4,3
                        td $4 521
                        td
                            button.data-table__td-settings(type='button' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="0,10")
                                +icon('settings')
                                .dropdown-menu.dropdown-menu-right.data-table__dropdown
                                    ul.data-table__dropdown-list
                                        li.data-table__dropdown-list-item
                                            a(href='#').data-table__dropdown-list-link Добавить рекламный блок
                                        li.data-table__dropdown-list-item
                                            a(href='#').data-table__dropdown-list-link Управление тизерами
                                        li.data-table__dropdown-list-item
                                            a(href='#').data-table__dropdown-list-link Редактировать
                                        li.data-table__dropdown-list-item
                                            a(href='#').data-table__dropdown-list-link Остановить
                    tr
                        td 1144
                        td
                            span.data-table__td-status
                        td pornhub.com
                        td
                            span.data-table__td-ad.data-table__td-ad-primary 1
                            span.data-table__td-ad.data-table__td-ad-blue 62
                        td Тизеры
                        td Адалт
                        td Товар
                        td 4,3
                        td 4,3
                        td $4 521
                        td
                            button.data-table__td-settings(type='button' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="0,10")
                                +icon('settings')
                                .dropdown-menu.dropdown-menu-right.data-table__dropdown
                                    ul.data-table__dropdown-list
                                        li.data-table__dropdown-list-item
                                            a(href='#').data-table__dropdown-list-link Добавить рекламный блок
                                        li.data-table__dropdown-list-item
                                            a(href='#').data-table__dropdown-list-link Управление тизерами
                                        li.data-table__dropdown-list-item
                                            a(href='#').data-table__dropdown-list-link Редактировать
                                        li.data-table__dropdown-list-item
                                            a(href='#').data-table__dropdown-list-link Остановить
                    tr
                        td 1154
                        td
                            span.data-table__td-status.data-table__td-status-disable
                        td redtube.com
                        td
                            span.data-table__td-ad.data-table__td-ad-primary 1
                            span.data-table__td-ad.data-table__td-ad-blue 62
                        td ClickUnder
                        td WAP
                        td Товар
                        td 4,3
                        td 4,3
                        td $4 521
                        td
                            button.data-table__td-settings(type='button' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="0,10")
                                +icon('settings')
                                .dropdown-menu.dropdown-menu-right.data-table__dropdown
                                    ul.data-table__dropdown-list
                                        li.data-table__dropdown-list-item
                                            a(href='#').data-table__dropdown-list-link Добавить рекламный блок
                                        li.data-table__dropdown-list-item
                                            a(href='#').data-table__dropdown-list-link Управление тизерами
                                        li.data-table__dropdown-list-item
                                            a(href='#').data-table__dropdown-list-link Редактировать
                                        li.data-table__dropdown-list-item
                                            a(href='#').data-table__dropdown-list-link Остановить
                    tr
                        td 1154
                        td
                            span.data-table__td-status.data-table__td-status-disable
                        td redtube.com
                        td
                            span.data-table__td-ad.data-table__td-ad-primary 1
                            span.data-table__td-ad.data-table__td-ad-blue 62
                        td ClickUnder
                        td WAP
                        td Товар
                        td 4,3
                        td 4,3
                        td $4 521
                        td
                            button.data-table__td-settings(type='button' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="0,10")
                                +icon('settings')
                                .dropdown-menu.dropdown-menu-right.data-table__dropdown
                                    ul.data-table__dropdown-list
                                        li.data-table__dropdown-list-item
                                            a(href='#').data-table__dropdown-list-link Добавить рекламный блок
                                        li.data-table__dropdown-list-item
                                            a(href='#').data-table__dropdown-list-link Управление тизерами
                                        li.data-table__dropdown-list-item
                                            a(href='#').data-table__dropdown-list-link Редактировать
                                        li.data-table__dropdown-list-item
                                            a(href='#').data-table__dropdown-list-link Остановить
                    tr
                        td 1154
                        td
                            span.data-table__td-status.data-table__td-status-disable
                        td redtube.com
                        td
                            span.data-table__td-ad.data-table__td-ad-primary 1
                            span.data-table__td-ad.data-table__td-ad-blue 62
                        td ClickUnder
                        td WAP
                        td Товар
                        td 4,3
                        td 4,3
                        td $4 521
                        td
                            button.data-table__td-settings(type='button' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="0,10")
                                +icon('settings')
                                .dropdown-menu.dropdown-menu-right.data-table__dropdown
                                    ul.data-table__dropdown-list
                                        li.data-table__dropdown-list-item
                                            a(href='#').data-table__dropdown-list-link Добавить рекламный блок
                                        li.data-table__dropdown-list-item
                                            a(href='#').data-table__dropdown-list-link Управление тизерами
                                        li.data-table__dropdown-list-item
                                            a(href='#').data-table__dropdown-list-link Редактировать
                                        li.data-table__dropdown-list-item
                                            a(href='#').data-table__dropdown-list-link Остановить
                    tr
                        td 1154
                        td
                            span.data-table__td-status.data-table__td-status-disable
                        td redtube.com
                        td
                            span.data-table__td-ad.data-table__td-ad-primary 1
                            span.data-table__td-ad.data-table__td-ad-blue 62
                        td ClickUnder
                        td WAP
                        td Товар
                        td 4,3
                        td 4,3
                        td $4 521
                        td
                            button.data-table__td-settings(type='button' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="0,10")
                                +icon('settings')
                                .dropdown-menu.dropdown-menu-right.data-table__dropdown
                                    ul.data-table__dropdown-list
                                        li.data-table__dropdown-list-item
                                            a(href='#').data-table__dropdown-list-link Добавить рекламный блок
                                        li.data-table__dropdown-list-item
                                            a(href='#').data-table__dropdown-list-link Управление тизерами
                                        li.data-table__dropdown-list-item
                                            a(href='#').data-table__dropdown-list-link Редактировать
                                        li.data-table__dropdown-list-item
                                            a(href='#').data-table__dropdown-list-link Остановить
                    tr
                        td 1154
                        td
                            span.data-table__td-status.data-table__td-status-disable
                        td redtube.com
                        td
                            span.data-table__td-ad.data-table__td-ad-primary 1
                            span.data-table__td-ad.data-table__td-ad-blue 62
                        td ClickUnder
                        td WAP
                        td Товар
                        td 4,3
                        td 4,3
                        td $4 521
                        td
                            button.data-table__td-settings(type='button' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="0,10")
                                +icon('settings')
                                .dropdown-menu.dropdown-menu-right.data-table__dropdown
                                    ul.data-table__dropdown-list
                                        li.data-table__dropdown-list-item
                                            a(href='#').data-table__dropdown-list-link Добавить рекламный блок
                                        li.data-table__dropdown-list-item
                                            a(href='#').data-table__dropdown-list-link Управление тизерами
                                        li.data-table__dropdown-list-item
                                            a(href='#').data-table__dropdown-list-link Редактировать
                                        li.data-table__dropdown-list-item
                                            a(href='#').data-table__dropdown-list-link Остановить

mixin data-table-balance()
    .data-table.data-table_balance&attributes(attributes)
        .table-responsive.table-responsive_balance(data-simplebar)
            table.table.table_balance
                thead
                    tr
                        th ID
                        th Статус
                        th Откуда
                        th Куда
                        th Сумма
                        th Сообщение
                        th Примечание
                        th Дата
                tbody
                    tr.data-table__tr_green
                        td 35640
                        td
                            span.data-table__td-status
                        td BigClick
                        td Z407800598973
                        td $5483
                        td Masspayment BigClick - 144 Masspayment BigClick - 144 Masspayment BigClick - 144 Masspaym
                        td Перевод сре...
                        td.data-table__td-nowrap 03.10.2019 14:30
                    tr.data-table__tr_green
                        td 35640
                        td
                            span.data-table__td-status
                        td BigClick
                        td Z407800598973
                        td $5483
                        td Masspayment BigClick - 144
                        td Перевод сре...
                        td.data-table__td-nowrap 03.10.2019 14:30
                    tr.data-table__tr_green
                        td 35640
                        td
                            span.data-table__td-status
                        td BigClick
                        td Z407800598973
                        td $5483
                        td Masspayment BigClick - 144
                        td Перевод сре...
                        td.data-table__td-nowrap 03.10.2019 14:30
                    tr.data-table__tr_green
                        td 35640
                        td
                            span.data-table__td-status
                        td BigClick
                        td Z407800598973
                        td $5483
                        td Masspayment BigClick - 144
                        td Перевод сре...
                        td.data-table__td-nowrap 03.10.2019 14:30
                    tr.data-table__tr_green
                        td 35640
                        td
                            span.data-table__td-status
                        td BigClick
                        td Z407800598973
                        td $5483
                        td Masspayment BigClick - 144 Masspayment BigClick - 144 Masspayment BigClick - 144 Masspa
                        td Перевод сре...
                        td.data-table__td-nowrap 03.10.2019 14:30
                    tr.data-table__tr_green
                        td 35640
                        td
                            span.data-table__td-status
                        td BigClick
                        td Z407800598973
                        td $5483
                        td Masspayment BigClick - 144
                        td Перевод сре...
                        td.data-table__td-nowrap 03.10.2019 14:30
                    tr.data-table__tr_green
                        td 35640
                        td
                            span.data-table__td-status
                        td BigClick
                        td Z407800598973
                        td $5483
                        td Masspayment BigClick - 144
                        td Перевод сре...
                        td.data-table__td-nowrap 03.10.2019 14:30
                    tr.data-table__tr_green
                        td 35640
                        td
                            span.data-table__td-status
                        td BigClick
                        td Z407800598973
                        td $5483
                        td Masspayment BigClick - 144
                        td Перевод сре...
                        td.data-table__td-nowrap 03.10.2019 14:30
