.data-table {
    @media screen and (max-width: $screen-md) {
        padding-bottom: 30px;
    }

    .table-stripped {
        tbody tr {
            &:nth-child(odd) {
                background-color: #f8f9fd;
            }
        }
    }

    .table {
        margin-bottom: 0;
        border-radius: 5px;
        box-shadow: 0 15px 29px rgba(85, 85, 85, 0.05);
        transition: all .15s;
        overflow: hidden;

        &-responsive {
            max-height: 350px;
            overflow-x: unset;
            border-radius: 5px;

            &_big {
                max-height: 615px;
            }
        }

        thead {
            th {
                white-space: nowrap;
            }
        }

        tbody tr {
            border-bottom: 1px solid #dfe2e5;

            &:last-child {
                border-bottom: none;
            }

            &:hover {
                background-color: #c2e395;
                transition: all .15s;
            }
        }

        tr {
            background-color: $white;
        }

        th {
            padding-top: 14px;
            padding-bottom: 13px;
            padding-right: 0;
            font-size: (14 / 16 + rem);
            font-weight: 600;
            color: $text-secondary;
            border-top: none;
            border-bottom: 1px solid #dfe2e5;

            @media screen and (max-width: $screen-md) {
                padding-right: 20px;
            }
        }

        td {
            position: relative;
            padding-top: 14px;
            padding-bottom: 13px;
            color: $text-color;
            border: none;
        }

        .large {
            padding-top: 24px;
            padding-bottom: 23px;
        }

        .bold {
            font-weight: 600;
        }
    }

    &__header {
        display: flex;
        margin-bottom: 20px;

        &_refs {
            justify-content: flex-end;
        }
    }

    &__title {
        position: relative;
        margin-left: 15.8%;
        width: 28.7%;
        font-size: (13 / 16 + rem);
        text-align: center;
        color: $text-secondary;
        border-bottom: 1px solid $text-secondary;

        &_refs {
            margin-left: inherit !important;
            width: 27% !important;
        }

        @media screen and (max-width: 768px) {
            display: none;
        }

        @media screen and (min-width: 1050px) {
            margin-left: 16.8%;
            width: 30%;
        }

        @media screen and (min-width: 1200px) {
            margin-left: 16.5%;
            width: 29%;
        }

        @media screen and (min-width: 1600px) {
            margin-left: 15.5%;
            width: 28%;
        }
        &:after,
        &:before {
            content: '';
            position: absolute;
            bottom: -9px;
            left: 0;
            width: 1px;
            height: 9px;
            background-color: $text-secondary;
        }
        &:after {
            content: '';
            right: 0;
            left: auto;
        }

        &-click {
            margin-left: 5%;
            width: 28.5%;

            &_refs {
                margin-right: 5px;
                width: 31% !important;
            }

            @media screen and (min-width: 1050px) {
                margin-left: 4%;
                width: 30%;
            }

            @media screen and (min-width: 1200px) {
                margin-left: 5%;
                width: 29%;
            }

            @media screen and (min-width: 1400px) {
                margin-left: 4.3%;
            }

            @media screen and (min-width: 1600px) {
                margin-left: 5.5%;
                width: 28%;
            }
        }
    }

    &__tr {
        &_green {
            border-bottom: 1px solid #dfe2e5;
            background-color: #c2e395 !important;

            &-light {
                border-bottom: none !important;
                background-color: rgba(#85c82b, .2) !important;
            }
        }

        &_blue {
            background-color: rgba(#4d93f3, .2) !important;
        }

        &_red {
            background-color: rgba(#cf5858, .2) !important;
        }
    }

    &__td {

        &-status {
            display: inline-block;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: $primary;

            &-important {
                background-color: #f9d132;
            }

            &-very-important {
                background-color: #d33b3b;

                &-light {
                    background-color: #cf5858;
                }
            }

            &-disable {
                background-color: #5c5e5a;
            }

            &-archive {
                background-color: #4d93f3;
            }
        }

        &-ad {
            display: inline-block;
            margin-right: 5px;
            padding: 2px 7px;
            border-radius: 3px;
            font-size: (13 / $size + rem);
            text-align: center;
            color: $white;
            &:last-child {
                margin-right: 0;
            }

            &-primary {
                background-color: $primary;
            }

            &-blue {
                background-color: $blue;
            }
        }

        &-settings {
            border: none;
            background-color: transparent;
            .icon-settings {
                width: 18px;
                height: 18px;
            }
        }

        &-nowrap {
            white-space: nowrap;
        }

        &-link {
            text-decoration: underline;
            color: #4dabf3;
        }

        &-url {
            font-weight: 600;
            color: #699dd3;
        }
    }

    &__dropdown {
        padding: 15px;
        &:after {
            display: none;
        }

        &-list {
            margin-bottom: 0;
            padding-left: 0;
            list-style: none;

            &-item {
                line-height: 24px;
            }

            &-link {
                font-size: (15 / $size + rem);
                white-space: nowrap;
                color: #699dd3;
            }
        }
    }

    &__clipper {
        position: relative;
        box-sizing: border-box;
        overflow: hidden;
    }

    &__scroller {
        overflow-x: scroll;
        overflow-y: hidden;
        height: 100%;
        white-space: nowrap;
    }

    &__scroller::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

    &__bar {
        position: absolute;
        bottom: 0;
        width: 10px;
        height: 4px;
        border-radius: 1px;
        background-color: $primary;

        &-line {
            width: 100%;
            height: 4px;
            border-radius: 1px;
            background-color: #e7e7e7;
        }
    }
}

.simplebar-content-wrapper {
    position: absolute;
    overflow-x: hidden !important;
    overflow-y: auto !important;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
}

.simplebar-content   {
    overflow-y: hidden !important;
    overflow-x: auto !important;
    width: auto;
    min-width: 100%;
    min-height: 100%;
}
