extends ../layout/layout.pug

block includes
    include ../../components/sidebar/sidebar.pug
    include ../../components/login/login.pug
    include ../../components/bell/bell.pug
    include ../../components/burger/burger.pug
    include ../../components/input-text/input-text.pug
    include ../../components/input-checkbox/input-checkbox.pug
    include ../../components/input-range/input-range.pug
    include ../../components/select/select.pug

block vars
    - var title = 'Добавить сайт';

block content
    .page-dashboard
        .container-fluid
            .row.page-dashboard__wrapper
                +sidebar()
                .page-dashboard__content
                    .overlay
                    .d-flex.align-items-center.page-dashboard__content-top-line
                        +burger({close: false})(class='page-dashboard__content-burger')
                        .page-dashboard__content-title-dropdown-wrapper
                            .page-dashboard__content-title Добавить сайт
                        .ml-auto.d-flex.align-items-center
                            span.page-dashboard__content-id Ваш ID: 144
                            .page-dashboard__content-balance
                                .page-dashboard__content-balance-title Баланс:
                                .page-dashboard__content-balance-num $4289
                            +bell(class='page-dashboard__content-bell')
                            +login()
                    form.form(action='#')
                        .row.form-group.align-items-baseline
                            .col-12.col-md-3
                                .form-group-title
                                    |URL
                                    span.form-group-title-star *
                            .col-12.col-md-6
                                +input-text({id: 'company-name', type: 'text'})

                        .row.form-group.align-items-start.form-group_mb-30
                            .col-12.col-md-3
                                .form-group-title
                                    |Алиасы
                            .col-12.col-md-6
                                textarea.form-control

                        .row.form-group.form-group_mb-40
                            .col-12.col-md-3
                                .form-group-title
                                    |Тематика
                                    span.form-group-title-star *
                            .col-12.col-md-4
                                +select(['Адалт', 'Азарт', 'Кинотеатры'])

                        .row.align-items-start.form-group.form-group_mb-40
                            .col-12.col-md-3
                                .form-group-title
                                    |<span class='form-group-title-accent'>Разрешенные</span> тематики сайтов
                            .col-6.col-md-2
                                +input-checkbox([
                                    { type: 'checkbox', name: 'check1', id: 'check1', label: 'Адалт'},
                                    { type: 'checkbox', name: 'check2', id: 'check2', label: 'Азарт'},
                                    { type: 'checkbox', name: 'check3', id: 'check3', label: 'WAP Click'},
                                    { type: 'checkbox', name: 'check4', id: 'check4', label: 'Кинотеатры'},
                                    { type: 'checkbox', name: 'check5', id: 'check5', label: 'Женские'},
                                    { type: 'checkbox', name: 'check6', id: 'check6', label: 'Новости'},
                                    { type: 'checkbox', name: 'check7', id: 'check7', label: 'Музыка'},
                                ])
                            .col-6.col-md-3
                                +input-checkbox([
                                    { type: 'checkbox', name: 'check8', id: 'check8', label: 'Адалт'},
                                    { type: 'checkbox', name: 'check9', id: 'check9', label: 'Азарт'},
                                    { type: 'checkbox', name: 'check10', id: 'check10', label: 'WAP Click'},
                                    { type: 'checkbox', name: 'check11', id: 'check11', label: 'Кинотеатры'},
                                ])

                        .row.align-items-start.form-group.form-group_mb-40
                            .col-12.col-md-3
                                .form-group-title
                                    |<span class='form-group-title-accent'>Разрешенные</span> типы рекламы
                                    span.form-group-title-star *
                            .col-6.col-md-2
                                +input-checkbox([
                                    { type: 'checkbox', name: 'check12', id: 'check12', label: 'Адалт'},
                                    { type: 'checkbox', name: 'check13', id: 'check13', label: 'Азарт'},
                                    { type: 'checkbox', name: 'check14', id: 'check14', label: 'WAP Click'},
                                    { type: 'checkbox', name: 'check15', id: 'check15', label: 'Кинотеатры'},
                                    { type: 'checkbox', name: 'check16', id: 'check16', label: 'Женские'},
                                    { type: 'checkbox', name: 'check17', id: 'check17', label: 'Новости'},
                                    { type: 'checkbox', name: 'check18', id: 'check18', label: 'Музыка'},
                                ])

                        .row.form-group.align-items-start.form-group_mb-40
                            .col-12.col-md-3
                                .form-group-title
                                    |Доступ к статистике
                                    span.form-group-title-star *
                            .col-12.col-md-6
                                textarea.form-control

                        .row.form-group
                            .col-12.col-md-3
                            .col-12.col-md-4
                                button.btn.btn-primary.btn-lg.btn-bold(type='submit' data-toggle='modal' data-target='#modal-added') Добавить сайт




    //- Модалка при удачно добавлении
    #modal-added.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content.modal-content_center
                button.close(type='button' data-dismiss='modal' aria-label='Close')
                    +icon('cross-remove-sign')
                +icon('correct-symbol')
                .modal-title_lg Ваш сайт успешно добавлен. Модератор уже приступил к проверке вашего сайта.

