extends ../layout/layout.pug

block includes
    include ../../components/sidebar/sidebar.pug
    include ../../components/login/login.pug
    include ../../components/bell/bell.pug
    include ../../components/burger/burger.pug
    include ../../components/input-text/input-text.pug
    include ../../components/input-checkbox/input-checkbox.pug
    include ../../components/input-range/input-range.pug

block vars
    - var title = 'Создать кампанию';

block content
    .page-dashboard
        .container-fluid
            .row.page-dashboard__wrapper
                +sidebar(class='col-xl-3')
                .col-xl-9.page-dashboard__content
                    .overlay
                    .d-flex.align-items-center.page-dashboard__content-top-line
                        +burger({close: false})(class='page-dashboard__content-burger')
                        .page-dashboard__content-title-dropdown-wrapper
                            .page-dashboard__content-title Создать кампанию
                        .ml-auto.d-flex.align-items-center
                            span.page-dashboard__content-id Ваш ID: 144
                            .page-dashboard__content-balance
                                .page-dashboard__content-balance-title Баланс:
                                .page-dashboard__content-balance-num $4289
                            +bell(class='page-dashboard__content-bell')
                            +login()
                    form.form(action='#')
                        .row.form-group.align-items-baseline
                            .col-12.col-md-3
                                .form-group-title
                                    |Название
                                    span.form-group-title-star *
                            .col-12.col-md-6
                                +input-text({id: 'company-name', type: 'text'})

                        .row.form-group.form-group_mb-30.align-items-baseline
                            .col-12.col-md-3
                                .form-group-title
                                    |URL
                                    span.form-group-title-star *
                            .col-12.col-md-6
                                +input-text({id: 'url', type: 'text', smallText: 'Кирилический адрес перекодируйте в Punycode'})

                        .row.form-group.form-group_mb-30
                            .col-md-3
                            .col-12.col-md-6
                                button.btn.btn-secondary.btn-sm(type='button') Макросы

                        .row.form-group
                            .col-12.col-md-3
                                .form-group-title
                                    |Тип кампании
                                    span.form-group-title-star *
                            .col-12.col-md-4
                                .select-wrapper
                                    select.form-control
                                        option Тизеры
                                        option Тизеры 2
                                        option Тизеры 3

                        .row.form-group
                            .col-12.col-md-3
                                .form-group-title
                                    |Тематика
                                    span.form-group-title-star *
                            .col-12.col-md-4
                                .select-wrapper
                                    select.form-control
                                        option Тематика
                                        option Тематика 2
                                        option Тематика 3

                        .row.form-group.form-group_mb-40
                            .col-12.col-md-3
                                .form-group-title
                                    |Конечная цель
                                    span.form-group-title-star *
                            .col-12.col-md-4
                                .select-wrapper
                                    select.form-control
                                        option Товар/услуга
                                        option Товар/услуга 2
                                        option Товар/услуга 3

                        .row.align-items-start.form-group.form-group_mb-40
                            .col-12.col-md-3
                                .form-group-title
                                    |<span class='form-group-title-accent'>Разрешенные</span> тематики сайтов
                            .col-6.col-md-2
                                +input-checkbox([
                                    { type: 'checkbox', name: 'check1', id: 'check1', label: 'Адалт'},
                                    { type: 'checkbox', name: 'check2', id: 'check2', label: 'Азарт'},
                                    { type: 'checkbox', name: 'check3', id: 'check3', label: 'WAP Click'},
                                    { type: 'checkbox', name: 'check4', id: 'check4', label: 'Кинотеатры'},
                                    { type: 'checkbox', name: 'check5', id: 'check5', label: 'Женские'},
                                    { type: 'checkbox', name: 'check6', id: 'check6', label: 'Новости'},
                                    { type: 'checkbox', name: 'check7', id: 'check7', label: 'Музыка'},
                                ])
                            .col-6.col-md-3
                                +input-checkbox([
                                    { type: 'checkbox', name: 'check8', id: 'check8', label: 'Адалт'},
                                    { type: 'checkbox', name: 'check9', id: 'check9', label: 'Азарт'},
                                    { type: 'checkbox', name: 'check10', id: 'check10', label: 'WAP Click'},
                                    { type: 'checkbox', name: 'check11', id: 'check11', label: 'Кинотеатры'},
                                ])

                        .row.form-group.form-group_mb-30
                            .col-12.col-md-3
                                .form-group-title
                                    |Геотаргетинг
                            .col-6
                                +input-checkbox([
                                    { type: 'checkbox', name: 'check12', id: 'check12', label: 'Все страны', classMod: 'mb-0'},
                                ])
                            .col-6.col-md-2
                                button.btn.btn-outline-dark(type='button' data-toggle='modal' data-target='#modal-search-regions') Изменить

                        .row.form-group.form-group_mb-30
                            .col-12.col-md-3
                                .form-group-title
                                    |Операторы
                            .col-6
                                +input-checkbox([
                                    { type: 'checkbox', name: 'check13', id: 'check13', label: 'Все операторы'},
                                    { type: 'checkbox', name: 'check14', id: 'check14', label: 'Остальной трафик (Wi-Fi)', classMod: 'mb-0'},
                                ])
                            .col-6.col-md-2
                                button.btn.btn-outline-dark(type='button') Изменить

                        .row.form-group.form-group_mb-30
                            .col-12.col-md-3
                                .form-group-title
                                    |Платформы
                            .col-6
                                +input-checkbox([
                                    { type: 'checkbox', name: 'check15', id: 'check15', label: 'Все платформы', classMod: 'mb-0'},
                                ])
                            .col-6.col-md-2
                                button.btn.btn-outline-dark(type='button') Изменить

                        .row.form-group.form-group_mb-30
                            .col-12.col-md-3
                                .form-group-title
                                    |Девайсы
                            .col-6
                                +input-checkbox([
                                    { type: 'checkbox', name: 'check16', id: 'check16', label: 'Все девайсы', classMod: 'mb-0'},
                                ])
                            .col-6.col-md-2
                                button.btn.btn-outline-dark(type='button') Изменить

                        .row.form-group.form-group_mb-40
                            .col-12.col-md-3
                                .form-group-title
                                    |Браузеры
                            .col-6
                                +input-checkbox([
                                    { type: 'checkbox', name: 'check17', id: 'check17', label: 'Все браузеры', classMod: 'mb-0'},
                                ])
                            .col-6.col-md-2
                                button.btn.btn-outline-dark(type='button') Изменить

                        .row.form-group.align-items-start.form-group_mb-30
                            .col-12.col-md-3
                                .form-group-title
                                    |Белый список ip адресов
                            .col-12.col-md-6
                                textarea.form-control
                                small.form-text.text-muted По одному диапазону адресов с каждой новой строки. Формат: 192.168.1.1-192.168.1.100 — диапазон от 192.168.1.1 до 192.168.1.100 Максимальное кол-во диапазонов: 400 Если будут указаны промежутки белого списка, то игнорируются: геотаргетинг и таргетинг по операторам

                        .row.form-group.align-items-start.form-group_mb-30
                            .col-12.col-md-3
                                .form-group-title
                                    |Черный список ID сайтов
                            .col-12.col-md-6
                                textarea.form-control
                                small.form-text.text-muted По одному id сайта с каждой новой строки.

                        .row.form-group.align-items-start.form-group_mb-30
                            .col-12.col-md-3
                                .form-group-title
                                    |Белый список ID сайтов
                            .col-12.col-md-6
                                textarea.form-control
                                small.form-text.text-muted По одному id сайта с каждой новой строки.

                        .row.form-group.align-items-start.form-group_mb-30
                            .col-12.col-md-3
                                .form-group-title
                                    |Белый список ID сайтов
                            .col-12.col-md-6
                                +input-range()

                        .row.form-group.form-group_mb-60
                            .col-12.col-md-3
                                .form-group-title
                                    |Временной таргетинг
                            .col-6
                                +input-checkbox([
                                    { type: 'checkbox', name: 'check18', id: 'check18', label: 'Круглосуточно', classMod: 'mb-0'},
                                ])
                            .col-6.col-md-2
                                button.btn.btn-outline-dark(type='button' data-toggle='modal' data-target='#modal-add-time') Изменить

                        .row.form-group
                            .col-md-3
                            .col
                                button.btn.btn-primary.btn-lg.btn-form(type='button' data-toggle='modal' data-target='#modal-added') Создать
                                button.btn.btn-blue.btn-lg.btn-form(type='submit') Список кампаний
    //- Модалка при удачно добавлении
    #modal-added.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content.modal-content_center
                button.close(type='button' data-dismiss='modal' aria-label='Close') 
                    +icon('cross-remove-sign')
                +icon('correct-symbol')
                .modal-title_lg Ваш сайт успешно добавил. Модератор уже приступил к проверке вашего сайта.

    //- Модалка с выбором даты
    #modal-add-time.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                button.close(type='button' data-dismiss='modal' aria-label='Close') 
                    +icon('cross-remove-sign')
                .modal-header
                    .modal-title Укажите дни недели и часы показа рекламы.
                .modal-body
                    .row
                        .col
                            +input-checkbox([
                                    { type: 'checkbox', name: 'check19', id: 'check19', label: 'ПН'},
                                    { type: 'checkbox', name: 'check20', id: 'check20', label: 'ВТ'},
                                    { type: 'checkbox', name: 'check21', id: 'check21', label: 'СР'},
                                    { type: 'checkbox', name: 'check22', id: 'check22', label: 'ЧТ'},
                                    { type: 'checkbox', name: 'check23', id: 'check23', label: 'ПТ'},
                                    { type: 'checkbox', name: 'check24', id: 'check24', label: 'СБ'},
                                    { type: 'checkbox', name: 'check25', id: 'check25', label: 'ВС'},
                                ])
                        .col
                            +input-checkbox([
                                    { type: 'checkbox', name: 'check26', id: 'check26', label: '00'},
                                    { type: 'checkbox', name: 'check27', id: 'check27', label: '01'},
                                    { type: 'checkbox', name: 'check28', id: 'check28', label: '02'},
                                    { type: 'checkbox', name: 'check29', id: 'check29', label: '03'},
                                    { type: 'checkbox', name: 'check30', id: 'check30', label: '04'},
                                    { type: 'checkbox', name: 'check31', id: 'check31', label: '05'},
                                    { type: 'checkbox', name: 'check32', id: 'check32', label: '06'},
                                ])
                        .col
                            +input-checkbox([
                                    { type: 'checkbox', name: 'check33', id: 'check33', label: '07'},
                                    { type: 'checkbox', name: 'check34', id: 'check34', label: '08'},
                                    { type: 'checkbox', name: 'check35', id: 'check35', label: '09'},
                                    { type: 'checkbox', name: 'check36', id: 'check36', label: '10'},
                                    { type: 'checkbox', name: 'check37', id: 'check37', label: '11'},
                                    { type: 'checkbox', name: 'check38', id: 'check38', label: '12'},
                                    { type: 'checkbox', name: 'check39', id: 'check39', label: '13'},
                                ])
                        .col
                            +input-checkbox([
                                    { type: 'checkbox', name: 'check40', id: 'check40', label: '14'},
                                    { type: 'checkbox', name: 'check41', id: 'check41', label: '15'},
                                    { type: 'checkbox', name: 'check42', id: 'check42', label: '16'},
                                    { type: 'checkbox', name: 'check43', id: 'check43', label: '17'},
                                    { type: 'checkbox', name: 'check44', id: 'check44', label: '18'},
                                    { type: 'checkbox', name: 'check45', id: 'check45', label: '19'},
                                    { type: 'checkbox', name: 'check46', id: 'check46', label: '20'},
                                ])
                        .col
                            +input-checkbox([
                                    { type: 'checkbox', name: 'check47', id: 'check47', label: '21'},
                                    { type: 'checkbox', name: 'check48', id: 'check48', label: '22'},
                                    { type: 'checkbox', name: 'check49', id: 'check49', label: '23'},
                                ])

                .modal-footer
                    button.btn.btn-primary.btn-lg(type='button') Сохранить

    
    //- Модалка с выбором даты
    #modal-search-regions.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                button.close(type='button' data-dismiss='modal' aria-label='Close') 
                    +icon('cross-remove-sign')
                .modal-header
                    .modal-title Выберите регионы, в которых вы бы хотели показывать рекламу. Обратите внимание, выбрав регион, вы выбираете все входящие в него населенные пункты.
                .modal-body
                    +input-text({id: 'search', type: 'text', placeholder: 'Поиск региона'})(class='modal-field-search')
                    .modal-scroll-block 
                        +input-checkbox([
                                    { type: 'checkbox', name: 'check50', id: 'check50', label: 'Азарт'},
                                    { type: 'checkbox', name: 'check51', id: 'check51', label: 'WAP Click'},
                                    { type: 'checkbox', name: 'check52', id: 'check52', label: 'Кинотеатры'},
                                    { type: 'checkbox', name: 'check53', id: 'check53', label: 'Женские'},
                                    { type: 'checkbox', name: 'check54', id: 'check54', label: 'Новости'},
                                    { type: 'checkbox', name: 'check55', id: 'check55', label: 'Музыка'},
                                    { type: 'checkbox', name: 'check56', id: 'check56', label: 'ВС'},
                                ])

                .modal-footer
                    button.btn.btn-primary.btn-lg(type='button') Сохранить
                 
block scripts
    