extends ../layout/layout.pug

block includes
    include ../../components/sidebar/sidebar.pug
    include ../../components/login/login.pug
    include ../../components/title-dropdown/title-dropdown.pug
    include ../../components/bell/bell.pug
    include ../../components/info-banner/info-banner.pug
    include ../../components/selectbox/selectbox.pug
    include ../../components/date-picker/date-picker.pug
    include ../../components/am-charts/am-charts.pug
    include ../../components/data-table/data-table.pug
    include ../../components/burger/burger.pug
    include ../../components/main-header/main-header.pug
    include ../../components/hint/hint.pug
    include ../../components/main-tabs/main-tabs.pug
    include ../../components/steps/steps.pug
    include ../../components/carousel-advantages/carousel-advantages.pug
    include ../../components/traffic-conversion/traffic-conversion.pug
    include ../../components/tiser-statisitc/tiser-statisitc.pug
    include ../../components/country-charts/country-charts.pug
    include ../../components/reviews/reviews.pug
    include ../../components/questions/questions.pug
    include ../../components/select-theme/select-theme.pug
    include ../../components/scroll-top/scroll-top.pug

block vars
    - var title = 'Главная';

block content
    .page-main
        .main-overlay
        section.page-main__welcome
            .container
                +main-header()
                .page-main__welcome-wrapper
                    .page-main__welcome-content
                        h1.page-main__welcome-title Хватит на заводе<br> околачиваться!<br>
                            div В BigClick приятней<br> и выше оплачивается!
                        button(type='button').page-main__welcome-btn Зарегистрироваться
                        ul.page-main__welcome-list
                            li.page-main__welcome-list-item Высокие отчисления партнерам!
                            li.page-main__welcome-list-item Отсутствие санкций от
                                +hint({title: 'поисковых систем*', content: 'Протестировано на сайтах партнеров в поисковых системах Яндекс и Google в течение 9 месяцев.'})
                            li.page-main__welcome-list-item Еженедельные выплаты в долларах
                    .page-main__welcome-girl
                        img#girl(src="img/girl-green.png", alt="girl")

        section.page-main__formats
            .container
                .page-main__formats-wrapper
                    h2.page-main__formats-title Рекламные форматы
                    +main-tabs()

        section.page-main__steps
            .container
                h2.page-main__steps-title.text-center Начни зарабатывать с BigClick<br> прямо сейчас!
                +steps(class='page-main__steps-content')

        section.page-main__carousel-advantages
            .container
                .page-main__carousel-advantages-wrapper
                    +carousel-advantages('Вебмастеру:', [
                        {icon: 'fast', title: 'Быстрый старт', text: 'Круглосуточная модерация новых сайтов. Одобрение за 10 минут!'},
                        {icon: 'highProfit', title: 'Высокая прибыль', text: 'Мы отчисляем партрнерам до 80% от цены клика рекламодателя.'},
                        {icon: 'async', title: 'Ассинхронный код', text: 'и адаптивный дизайн тизеров обеспечивают корректное отображение на всех устройствах'},
                        {icon: 'cash', title: 'Регулярные выплаты в USD', text: 'Мы выплачиваем доходы еженедельно, а также в любое время по личному запросу'},
                        {icon: '24hours', title: 'Круглосуточная поддержка', text: 'Мы поможем настроить блоки на вашем сайте, а также ответим на любые вопросы'},
                        {icon: 'ya', title: 'Никаких санкций от поисковиков', text: 'За наш код ваш сайт не получит фильтров от Яндекса или Google'},
                    ])(class='page-main__carousel-advantages-block')

                    +carousel-advantages('Рекламодателю:', [
                        {icon: 'brilliant', title: 'Качественный трафик', text: 'Мы тщательно проверяем каждую площадку, принимая только поисковый трафик', imgMod: 'violet'},
                        {icon: 'targeting', title: 'Детальный таргетинг', text: 'Рекламные настройки позволяют попадать точно в целевую аудиторию', imgMod: 'violet'},
                        {icon: 'chart', title: 'Real-time статистика', text: 'Отслеживайте покупку трафика в реальном времени с ежесекундным обновлением', imgMod: 'violet'},
                        {icon: 'reports', title: 'Подробные отчеты', text: 'В нашем кабинете вы можете сформировать детальный отчет о рекламе в .pdf', imgMod: 'violet'},
                        {icon: '24hours', title: 'Круглосуточная поддержка', text: 'Мы поможем настроить рекламу, а также ответим на любые вопросы', imgMod: 'violet'},
                        {icon: 'timer', title: 'Быстрая модерация', text: 'Наши специалисты одобряют кампании круглосуточно', imgMod: 'violet'},
                    ])(class='page-main__carousel-advantages-block')
        section.page-main__statistic
            .container
                +traffic-conversion(class='page-main__statistic-traffic')
                +tiser-statisitc(class='page-main__statistic-tisers')
                .page-main__statistic-charts-wrapper
                    .page-main__statistic-charts-block
                        +country-charts(class='page-main__country-charts')
                    .page-main__statistic-charts-block.page-main__statistic-charts-block-op
                        .page-main__statistic-charts-block-title Операторы
                        ul.page-main__statistic-charts-list
                            li.page-main__statistic-charts-item
                                .page-main__statistic-charts-item-img
                                    img(src='img/wifi.png' alt='wifi')
                                span.page-main__statistic-charts-item-val 72,97%
                            li.page-main__statistic-charts-item
                                .page-main__statistic-charts-item-img
                                    img(src='img/mts.png' alt='mts')
                                span.page-main__statistic-charts-item-val 5,33%
                            li.page-main__statistic-charts-item
                                .page-main__statistic-charts-item-img
                                    img(src='img/TELE2.png' alt='wifi')
                                span.page-main__statistic-charts-item-val 4,93%
                            li.page-main__statistic-charts-item
                                .page-main__statistic-charts-item-img
                                    img(src='img/megafon.png' alt='wifi')
                                span.page-main__statistic-charts-item-val 4,83%
                            li.page-main__statistic-charts-item
                                .page-main__statistic-charts-item-img
                                    img(src='img/beeline.png' alt='wifi')
                                span.page-main__statistic-charts-item-val 2,29%
                +reviews(class='page-main__statistic-reviews')
        footer.page-main__questions
            .container
                +questions()
        .page-main__fixed-block
            +select-theme()
            +scroll-top()

block scripts
    script(src='js/frontIndex.js')
