extends ../layout/layout.pug

block includes
    include ../../components/sidebar/sidebar.pug
    include ../../components/login/login.pug
    include ../../components/bell/bell.pug
    include ../../components/selectbox/selectbox.pug
    include ../../components/data-table/data-table.pug
    include ../../components/burger/burger.pug
    include ../../components/input-refs/input-refs.pug
    include ../../components/data-table/data-table.pug
    include ../../components/breadcrumbs/breadcrumbs.pug
    include ../../components/promo-materials/promo-materials.pug

block vars
    - var title = 'Мои рефералы';

block content
    .page-dashboard
        .container-fluid
            .row.page-dashboard__wrapper
                .page-dashboard__sidebar
                    +sidebar()
                .page-dashboard__content
                    .overlay
                    .d-flex.align-items-center.page-dashboard__content-top-line
                        +burger({close: false})(class='page-dashboard__content-burger')
                        .page-dashboard__content-title-dropdown-wrapper
                            .page-dashboard__content-title Мои рефералы
                        .ml-auto.d-flex.align-items-center
                            span.page-dashboard__content-id Ваш ID: 144
                            .page-dashboard__content-balance
                                .page-dashboard__content-balance-title Баланс:
                                .page-dashboard__content-balance-num $4289
                            +bell(class='page-dashboard__content-bell')
                            +login()
                    +input-refs({title: 'Ваша реферальная ссылка', id: 'inputRefs'})(class='mb-5')
                    +data-table-refs(class='mb-5')
                    .d-flex.flex-wrap.align-items-center
                        .page-dashboard__content-update-time.w-auto.mr-auto.mb-3 Обновлено по МСК. Данные на этой странице обновляются раз в минуту.
                        .d-flex.justify-content-end.mb-3
                            +breadcrumbs(2)
                    +promo-materials()
