extends ../layout/layout.pug

block content
    ul
        li
            a(href="index.html") Главная
        li
            a(href="create-company.html") Создать кампанию
        li
            a(href="ad-company.html") Рекламные кампании
        li
            a(href="balance.html") Баланс
        li
            a(href="top-webmasters.html") Топ вебмастеров
        li
            a(href="tisers-leisure.html") Тизеры «Досуг»
        li
            a(href="my-refs.html") Мои рефералы
        li
            a(href="my-sites.html") Мои сайты
        li
            a(href="page-tickets.html") Тикет
        li
            a(href="create-ticket.html") Создать тикет
        li
            a(href="bets-competitors.html") Ставки конкурентов
        li
            a(href="add-tiser.html") Добавить тизер
        li
            a(href="add-site.html") Добавить сайт
