extends ../layout/layout.pug

block content
    ul
        li
            a(href="index.html") Главная
        li
            a(href="create-company.html") Создать кампанию
        li
            a(href="ad-company.html") Рекламные кампании