extends ../layout/layout.pug

block includes
    include ../../components/login/login.pug
    include ../../components/bell/bell.pug
    include ../../components/burger/burger.pug
    include ../../components/main-header/main-header.pug

block vars
    - var title = 'Правила';

block content
    .page-inner.page-turns
        .main-overlay
        .container
            +main-header-secondary()
            .page-inner__content
                h1.h1_sm.page-inner__title Правила
                .page-inner__turns
                    p Внимательно ознакомьтесь с настоящими Правилами. В случае нарушения положений настоящих Правил Партнером, партнерская сеть bigclick.me имеет право приостановить показ рекламных блоков на веб-ресурсе Партнера и/или заблокировать партнерскую программу или партнерский аккаунт.
                    p В каждом конкретном случае вопросы соблюдения данных Правил решаются индивидуально с Партнером.
                    p По всем вопросам, касающимся положений настоящих Правил, Партнеры должны обращаться в службу поддержки через форму обратной связи или тикеты.
                    p Сервис bigclick.me оставляет за собой право менять настоящие правила без согласования с Партнерами.
                    b 0. Термины
                    p 0.1. Вебмастеры - пользователи, имеющие аккаунт в сервисе "bigclick.me" и использующие в настоящий момент партнерскую программу по трансляции объявлений "bigclick.me" на своем (находящимся в собственности или управлении) веб-ресурсе.
                    p 0.2. Рекламодатели - пользователи, имеющие аккаунт в сервисе "bigclick.me" и использующие в настоящий момент рекламную кампанию в сети "bigclick.me".
                    p 0.3. Партнеры - вебмастеры и рекламодатели.
                    p 0.4. Площадка, веб-ресурс - набор связанных html-страниц на одном домене.
                    b Как работает система:
                    p Рекламодатель: создаёт рекламную кампанию, затем создаёт объявления и пополняет баланс лицевого счёта. Средства с лицевого счёта списываются в соответствии с выбранной тематикой и количества кликов. Средства списываются за переход на сайт рекламодателя. Рекламная сеть BigClick.me не гарантирует продажи, регистрации, заказы услуг и пр., мы лишь приводим уникальных посетителей на ваш сайт.
                    p Вебмастер: добавляет сайт в систему и создаёт внешний вид рекламного блока, который будет транслироваться на его сайте (сайтах), затем вставляет на свой сайт код для трансляции объявлений. Каждый клик совершенный с сайта вебмастера добавляет на его лицевой счёт определённую сумму денег (в зависимости от выбранной тематики).
                    p Партнёр: Каждый зарегистрированный пользователь может участвовать в системе в качестве партнёра. Партнёр получает 5% от потраченной на рекламу суммы (если это рекламодатель) и 5% от заработанной суммы вебмастером, с каждого, зарегистрированного по его реферальной ссылке пользователя.
                    b 1. ОБЩИЕ ПОЛОЖЕНИЯ
                    p 1.1 Настоящие Правила регламентируют общие вопросы участия в партнерской рекламной сети bigclick.me.
                    p 1.2 Партнерами сервиса BigClick.me считаются пользователи, имеющие аккаунт в сервисе bigclick.me и использующие в настоящий момент партнерскую программу по трансляции рекламных блоков сервиса BigClick.me на своем (находящимся в собственности или управлении) веб-ресурсе.
                    p 1.3 В случае смены владельца (контактного лица) веб-ресурса, использующего любую из партнерских программ сервиса BigClick.me, Партнер обязан в трехдневный срок уведомить об этом службу поддержки сервиса BigClick.me.
                    p 1.4 Запрещено создание и использование более 1 аккаунта в системе.
                    p 2. ТРЕБОВАНИЯ К ВЕБ-РЕСУРСАМ И СОДЕРЖАНИЮ САЙТА
                    p 2.1 Сайт должен быть размещен на коммерческом хостинге. Посещаемость сайта - не менее 500 уникальных посетителей в сутки в течении последних 30 дней. Не менее 60% трафика должно быть поисковым.
                    p 2.2 ЗАПРЕЩЕН показ рекламных блоков сервиса BigClick.me на веб-ресурсах, в содержании которых имеется:
                    b • Пропаганда насилия, расовой или любой другой дискриминации, пропаганда против отдельного лица, группы или организации.
                    b • Информация о взломе компьютерных систем и программ.
                    b • Оскорбления религиозных чувств верующих любых конфессий.
                    b • Нецензурная лексика в необоснованном количестве.
                    b • Информация о вознаграждении пользователей за нажатия на рекламные блоки, за просмотр сайтов или чтение электронных сообщений.
                    p 2.3 Адекватный контент. Не допускается наличие неоправданного количества часто повторяющихся и/или не соответствующих содержанию страницы ключевых слов в тексте самой страницы и/или в ее коде.
                    p 2.4 Не допускается использование специальных программ и иных средств, инициирующих без согласия посетителя:
                    b • Переадресацию посетителя на нежелательные веб-ресурсы.
                    b • Изменение настроек браузера.
                    b • Загрузку файлов на компьютер пользователя.
                    b • Появление всплывающих окон, которые посетитель не может закрыть по своему желанию.
                    p 2.5 Наличие статистики посещаемости. Учёт посещаемости должен вестись с момента подключения сайта к партнерской программе. Счетчик посещаемости должен обеспечивать детализацию по следующим критериям: просмотры, посетители, источники посетителей, внутренние переходы, поисковые фразы, браузеры.
                    p 2.6 Если площадка подозревается в накрутке, то сайт или аккаунт блокируются вместе со всеми средствами. (в некоторых случаях мы делаем пересчёт "честных" кликов и частично возвращаем средства). Для блокировки площадки достаточно нескольких (подтверждённых) жалоб рекламодателей на накрутку.
