extends ../layout/layout.pug

block includes
    include ../../components/sidebar/sidebar.pug
    include ../../components/login/login.pug
    include ../../components/title-dropdown/title-dropdown.pug
    include ../../components/bell/bell.pug
    include ../../components/data-table/data-table.pug
    include ../../components/burger/burger.pug

block vars
    - var title = 'Топ вебмастеров';

block content
    .page-dashboard
        .container-fluid
            .row.page-dashboard__wrapper
                +sidebar()
                .page-dashboard__content
                    .overlay
                    .d-flex.align-items-center.page-dashboard__content-top-line
                        +burger({close: false})(class='page-dashboard__content-burger')
                        .page-dashboard__content-title-dropdown-wrapper
                            .page-dashboard__content-title Топ вебмастеров
                        .ml-auto.d-flex.align-items-center
                            span.page-dashboard__content-id Ваш ID: 144
                            .page-dashboard__content-balance
                                .page-dashboard__content-balance-title Баланс:
                                .page-dashboard__content-balance-num $4289
                            +bell(class='page-dashboard__content-bell')
                            +login()
                    +data-table-webmasters(class='mt-4')
                    .page-dashboard__content-update-time.mt-4 Обновлено 2019-10-03 13:55:29 по МСК. Данные обновляются раз в минуту.

