.steps {
    padding-bottom: 100px;

    &__wrapper {
        background-image: url('../img/line.png');
        background-repeat: no-repeat;
        background-position: center;

        @media screen and (max-width: $screen-md) {
            background-image: none;
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        position: relative;

        @media screen and (max-width: $screen-md) {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 50%;
        }

        @media screen and (max-width: $screen-sm) {
            top: 0 !important;
            left: 0 !important;
            align-items: center !important;
            margin-bottom: 30px !important;
            width: 100%;
        }

        &:nth-child(1) {
            top: 20px;

            @media screen and (max-width: $screen-md) {
                top: 0;
                left: 0;
                margin-bottom: 90px;
            }
        }

        &:nth-child(2) {
            top: 100px;
            left: 0px;
        }

        &:nth-child(3) {
            top: -20px;
            left: 20px;

            @media screen and (max-width: $screen-md) {
                top: 0;
                left: 0;
                align-items: flex-end;
            }
        }

        &:nth-child(4) {
            top: 60px;

            @media screen and (max-width: $screen-md) {
                top: 100px;
                left: 0;
                align-items: flex-end;
            }
        }

        &-circle {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 160px;
            height: 160px;
            border-radius: 50%;
            background-color: $white;
        }

        &-text {
            margin-top: 20px;
            font-size: (18 / $size + rem);
            font-weight: 500;
            text-align: center;
        }

        .icon-note {
            width: 50px;
            height: 52px;
        }

        .icon-keyboard {
            width: 57px;
            height: 59px;
        }

        .icon-settings-code {
            width: 55px;
            height: 55px;
        }

        .icon-money-tree {
            width: 56px;
            height: 67px;
        }
    }
}
