mixin steps()
    .steps&attributes(attributes)
        .steps__wrapper
            .steps__list
                .steps__item
                    .steps__item-circle
                        +icon('note')
                    .steps__item-text Зарегистрируйся<br> в системе
                .steps__item
                    .steps__item-circle
                        +icon('keyboard')
                    .steps__item-text Добавь свои<br> сайты
                .steps__item
                    .steps__item-circle
                        +icon('settings-code')
                    .steps__item-text Настрой<br> рекламные блоки
                .steps__item
                    .steps__item-circle
                        +icon('money-tree')
                    .steps__item-text Получай доход
