mixin logo()
    a.logo(href="index.html")&attributes(attributes)
        img(src="img/logo.png", alt="logo")

mixin main-logo()
    a.logo(href="index.html")&attributes(attributes)
        img(src="img/main-logo.png", alt="logo")
