.main-tabs {
    padding-bottom: 60px;

    @media screen and (max-width: $screen-lg) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__nav {

        @media screen and (max-width: $screen-sm) {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 100%;
        }

        .active {
            text-decoration: underline;
            color: $white;
        }

        .disable {
            &:hover,
            &:active,
            &:focus {
                text-decoration: none;
                color: #c8c8c8;
                cursor: auto;
            }
        }
    }

    &__link {
        position: relative;
        margin-right: 40px;
        padding: 0;
        font-size: (18 / $size + rem);
        color: #c8c8c8;
        transition: all .15s;

        &:hover {
            text-decoration: underline;
            color: $white;
            transition: all .15s;
        }

        &:nth-child(3) {
            margin-right: 64px;
        }

        &:last-child {
            margin-right: 30px;

            @media screen and (max-width: $screen-md) {
                margin-right: 0;
            }
        }

        @media screen and (max-width: $screen-sm) {
            margin-top: 20px;
            margin-right: 0px !important;
        }

        &-soon {
            position: absolute;
            top: -6px;
            left: 102%;
            width: 45px;
            height: 15px;
            font-size: (10 / $size + rem);
            text-align: center;
            color: $white;
            border-radius: 7px;
            background-color: $primary;

             @media screen and (max-width: $screen-sm) {
                display: none;
            }
        }
    }

    &__content {

        &-item {
            display: flex;

            &-text {
                margin-top: 40px;
                margin-right: 15%;
                max-width: 500px;
                line-height: 24px;
                color: $white;

                @media screen and (max-width: $screen-lg) {
                    margin-right: 8%;
                }

                @media screen and (max-width: $screen-md) {
                    display: none;
                }
            }

            &-btn {
                display: block;
                margin-top: 60px;
            }

            &-img {
                position: relative;
                animation: bounce 2s ease-in-out infinite alternate;

                @media screen and (max-width: $screen-lg) {
                    margin-top: 40px;
                }

                &:after {
                    content: '';
                    position: absolute;
                    bottom: -60px;
                    left: 20px;
                    width: 90%;
                    height: 50px;
                    background-image: url('../img/shadow.png');
                    background-repeat: no-repeat;
                    background-size: contain;
                    animation: shadow 2s ease-in-out infinite alternate;
                }

                img {
                    max-width: 100%;
                }
            }
        }
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes shadow {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.tab-content>.active {
    display: flex;
}
