.summary-items {

    @media screen and (max-width: $screen-md) {
        padding-bottom: 40px;
    }

    &__list {
        display: flex;
        margin-bottom: 0;
        padding-left: 0;
        list-style: none;
    }

    &__item {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 20px;
        padding-left: 20px;

        @media screen and (max-width: $screen-xl) {
            margin-right: 40px;
        }

        &:first-child {
            padding-right: 50px;
            padding-left: 0;

            @media screen and (max-width: $screen-md) {
                padding-right: 0;
            }
        }
        &:last-child {
            margin-right: 0;
            padding-right: 0;
            &:after {
                display: none;
            }
        }
        &:after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 1px;
            height: 88px;
            background-color: #dbdbdb;

             @media screen and (max-width: $screen-md) {
                display: none;
             }
        }

        @media screen and (max-width: $screen-md) {
            padding-right: 0 !important;
            padding-left: 0 !important;
        }

        &_p-60 {
            padding-left: 60px;
            padding-right: 60px;
            &:first-child {
                padding-left: 0;
            }
            &:last-child {
                padding-right: 0;
            }
        }

        &-title {
            font-size: 1rem;
            font-weight: 500;
            line-height: 50px;
            letter-spacing: 0.16px;
            white-space: nowrap;
            color: $text-secondary;
        }

        &-value {
            display: flex;
            align-items: center;
            font-size: (36 / $size + rem);
            font-weight: 600;
            white-space: nowrap;
            letter-spacing: 0.36px;
        }

        &-buttons {
            display: flex;
            align-items: center;
            margin-top: 20px;
        }

        &-btn {
            padding: 8px 10px;
            font-size: (13 / $size + rem);
            white-space: nowrap;

            &-first {
                border-right: 1px solid#83b145;
                border-radius: 3px 0 0 3px;

                &:hover {
                    border-right: 1px solid#83b145;
                }
            }

            &-second {
                border-radius: 0 3px 3px 0;
            }

            &-pink {
                padding-right: 35px;
                padding-left: 35px;
            }

            &-plus {
                margin-right: 10px;
                padding: 0;
                font-size: (26 / $size + rem);
                font-weight: 600;
                color: $primary;
                border: none;
                background-color: transparent;
            }
        }
    }
}
