mixin summary-items()
    .summary-items&attributes(attributes)
        ul.summary-items__list
            li.summary-items__item
                .summary-items__item-title Баланс
                .summary-items__item-value $4289
            li.summary-items__item
                .summary-items__item-title Вебмастер
                .summary-items__item-value $187,43
                .summary-items__item-buttons
                    button(type='button').btn.btn-primary.summary-items__item-btn.summary-items__item-btn-first Перевод на баланс
                    button(type='button').btn.btn-primary.summary-items__item-btn.summary-items__item-btn-second Выплата
            li.summary-items__item
                .summary-items__item-title Рекламодатель
                .summary-items__item-value $3952,2
                .summary-items__item-buttons
                    button(type='button').btn.btn-pink.summary-items__item-btn Пополнить баланс
            li.summary-items__item
                .summary-items__item-title Партнерский
                .summary-items__item-value $12,4
                .summary-items__item-buttons
                    button(type='button').btn.btn-primary.summary-items__item-btn.summary-items__item-btn-first Перевод на баланс
                    button(type='button').btn.btn-primary.summary-items__item-btn.summary-items__item-btn-second Выплата

