// Стили для нативных тегов
body {
    font-family: $font-family;
    font-size: 15px;
    color: $text-color;
}

// Глобальные стили для страниц сайта
.page {
    &-dashboard {
        &__content {
            padding-right: 30px;
            padding-left: 30px;
            min-height: 100vh;
            background-color: $bg-content;
            @media screen and (max-width: 1199px) {
                padding-right: 15px;
                padding-left: 15px;
            }
            &-burger {
                margin-right: 20px;
            }
            &-top-line {
                flex-wrap: wrap;
                margin-bottom: 60px;
                padding-top: 70px;
                @media screen and (max-width: 1199px) {
                    margin-bottom: 40px;
                    padding-top: 30px;
                }
            }
            &-title-dropdown {
                margin-right: 20px;
                &-wrapper {
                    @media screen and (max-width: 1199px) {
                        display: flex;
                        justify-content: flex-start;
                        order: 6;
                        margin-top: 40px;
                        width: 100%;
                    }
                }
            }
            &-id {
                letter-spacing: 0.15px;
                color: $text-secondary;
                @media screen and (max-width: 1199px) {
                    display: none;
                }
            }
            &-balance {
                margin-top: -15px;
                margin-right: 20px;
                font-size: (13 / $size + rem);
                letter-spacing: 0.13px;
                color: $text-secondary;
                @media screen and (max-width: 576px) {
                    margin-top: 0;
                }
                &-title {
                    @media screen and (max-width: 576px) {
                        display: none;
                    }
                }
                &-num {
                    font-size: (24 / $size + rem);
                    font-weight: 600;
                    letter-spacing: 0.24px;
                    color: $text-color;
                    @media screen and (max-width: 576px) {
                        font-size: (18 / $size + rem);
                    }
                }
            }
            &-bell {
                margin-right: 28px;
            }
            &-banners {
                margin-bottom: 40px;
            }
            &-selects {
                margin-bottom: 20px;
                @media screen and (max-width: 1199px) {
                    margin-bottom: 40px;
                }
            }
            &-selectbox {
                margin-right: 40px;
                &:last-child {
                    margin-right: 0;
                }
                @media screen and (max-width: 1199px) {
                    margin-right: 20px;
                }
                @media screen and (max-width: 576px) {
                    margin-right: 5px;
                }
            }
            &-datepicker {
                margin-right: 40px;
                @media screen and (max-width: 1199px) {
                    margin-right: 20px;
                }
                @media screen and (max-width: 768px) {
                    order: 4;
                    margin-top: 15px;
                    margin-right: 0;
                }
            }
            &-chart {
                margin-bottom: 70px;
                @media screen and (max-width: 1199px) {
                    margin-bottom: 40px;
                }
            }
        }
    }
}

// Глобальные стили для компонентов bootstrap

// Компонент dropdown
.dropdown-menu {
    position: relative;
    padding-top: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-left: 40px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px 25px rgba(85, 85, 85, 0.1);
    // @media screen and (max-width: 576px) {
    //     &:after {
    //         display: none;
    //     }
    // }

    &:after {
        content: '';
        position: absolute;
        top: -14px;
        right: 13px;
        border: 8px solid transparent;
        border-bottom: 8px solid $white;
    }
    .dropdown-item {
        padding: 0;
        font-weight: 600;
        line-height: 32px;
        letter-spacing: 0.15px;
        background-size: 13px;
        transition: all .15s;

        &:hover {
            background-color: transparent;
            color: $primary;
            transition: all .15s;
        }

        &_active {
            position: relative;

            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: -21px;
                width: 13px;
                height: 13px;
                background-image: url('../img/check-primary.svg');
                background-size: cover;
                background-repeat: no-repeat;
                transform: translateY(-50%);
            }
        }
    }
}

// Стили на классы
.overlay {
    display: none;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    &_active {
        display: block;
    }
}
