// Стили для нативных тегов
html {
    height: 100%;
}

body {
    height: 100%;
    font-family: $font-family;
    font-size: (15 / $size + rem);
    color: $text-color;
}

h1 {
    font-size: (44 / $size + rem);
    font-weight: 600;
}

h2 {
    font-size: (36 / $size + rem);
    font-weight: 600;
}

h3 {
    font-size: (30 / $size + rem);
    font-weight: 600;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

// Глобальные стили для страниц сайта
.page {
    &-main {
        // height: 100%;
        background-color: $main-color;
        color: $white;

        &__welcome {
            position: relative;
            padding-bottom: 125px;
            color: white;
            background-image: url('../img/girl-bg.png');
            background-repeat: no-repeat;
            background-position: right center;

            @media screen and (max-width: 1400px) {
                padding-bottom: 145px;
            }

            @media screen and (max-width: $screen-md) {
                // padding-bottom: 0;
                overflow: hidden;
            }

            @media screen and (max-width: $screen-sm) {
                padding-bottom: 80px;
            }

            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: -182px;
                z-index: 1;
                width: 364px;
                height: 364px;
                border-radius: 50%;
                background-color: #6e12a0;
                transform: translateY(-50%);
            }

            &-wrapper {
                // position: relative;
                // display: flex;
                // justify-content: space-between;
            }

            &-content {
                position: relative;
                z-index: 2;
                width: 55%;

                @media screen and (max-width: $screen-lg) {
                    width: 100%;
                }
            }

            &-title {
                margin-top: 100px;
                margin-bottom: 0;
                font-weight: 400;

                @media screen and (max-width: 1400px) {
                    margin-top: 60px;
                }

                @media screen and (max-width: $screen-md) {
                    margin-top: 40px;
                    font-size: (32 / $size + rem);
                }

                div {
                    margin-top: 10px;
                    font-weight: 600;
                }
            }

            &-btn {
                margin-top: 30px;
                padding: 15px 44px;
                font-size: (15 / $size + rem);
                font-weight: 600;
                text-transform: uppercase;
                color: $white;
                border: 2px solid $orange;
                border-radius: 5px;
                box-shadow: 0 15px 29px rgba(29, 29, 29, 0.15);
                background-color: transparent;
                transition: all .15s;

                &:hover {
                    background-color: $orange;
                    transition: all .15s;
                }
            }

            &-list {
                display: flex;
                flex-wrap: wrap;
                margin-top: 60px;
                margin-bottom: 0;
                padding-left: 0;
                list-style: none;

                @media screen and (max-width: $screen-xl) {
                    display: block;
                }

                @media screen and (max-width: 767px) {
                    display: flex;
                    margin-top: 30px;
                }

                &-item {
                    position: relative;
                    margin-right: 40px;
                    padding-left: 30px;
                    max-width: 210px;
                    letter-spacing: 0.38px;

                    &:nth-child(2n) {
                        margin-right: 0;
                    }

                    &:nth-child(n+3) {
                        margin-top: 30px;
                    }

                    &:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        background-color: $primary;
                    }

                    &:after {
                        content: '';
                        position: absolute;
                        top: 1px;
                        left: 7px;
                        width: 15px;
                        height: 15px;
                        background-image: url('../img/check.svg');
                    }

                    @media screen and (max-width: $screen-xl) {
                        margin-top: 30px;
                        margin-right: 0;

                        &:first-child {
                            margin-top: 0;
                        }
                    }

                    @media screen and (max-width: $screen-lg) {
                        margin-right: 40px;

                        &:first-child {
                            margin-top: 30px;
                        }

                        &:nth-child(2) {
                            margin-right: 40px;
                        }

                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }

            &-girl {
                position: absolute;
                bottom: 0;
                right: 0;
                z-index: 1;

                @media screen and (max-width: 1530px) {
                    width: 750px;
                }

                @media screen and (max-width: 1300px) {
                    width: 700px;
                }

                @media screen and (max-width: 769px) {
                    right: -70px;
                    bottom: 85px;
                    width: 528px;
                }

                @media screen and (max-width: $screen-sm) {
                    display: none;
                }

                img {
                    max-width: 100%;
                }
            }
        }

        &__formats {
            position: relative;
            z-index: 20;
            margin-top: -125px;
            padding-bottom: 100px;
            background-image: url('../img/second-screen.png'), url('../img/second-screen2.png');
            background-repeat: no-repeat;
            background-position: left -70px top 50px, right -126px top -28px;

            @media screen and (max-width: 1400px) {
                margin-top: -145px;
            }

            @media screen and (max-width: $screen-md) {
                margin-top: -183px;
            }

            @media screen and (max-width: $screen-sm) {
                margin-top: 0;
                padding-bottom: 80px;
                background-image: none;
            }

            &-wrapper {
                padding-top: 320px;

                @media screen and (max-width: $screen-lg) {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                @media screen and (max-width: 1600px) {
                    padding-top: 300px;
                }

                @media screen and (max-width: $screen-md) {
                    // padding-top: 60px;
                }

                @media screen and (max-width: $screen-sm) {
                    padding-top: 0;
                }
            }

            &-title {
                margin-bottom: 50px;
                font-size: (30 / $size + rem);
                font-weight: 600;
                color: $white;

                @media screen and (max-width: $screen-md) {
                    margin-bottom: 30px;
                }
            }
        }

        &__steps {

            &-content {
                margin-top: 150px;

                @media screen and (max-width: $screen-md) {
                    margin-top: 50px;
                }
            }
        }

        &__carousel-advantages {
            margin-top: 100px;
            background-image: url(../img/carousel-bg.png), url(../img/carousel-bg2.png);
            background-size: auto auto, auto auto;
            background-position: right -9px top 215px, left -198px top 215px;
            background-repeat: no-repeat;

            @media screen and (max-width: $screen-md) {
                margin-top: 0;
            }

            &-wrapper {
                display: flex;

                @media screen and (max-width: $screen-md) {
                    display: block;
                }
            }

            &-block {
                width: 50%;

                @media screen and (max-width: $screen-md) {
                    margin-bottom: 60px;
                    width: 100%;
                }

                &:first-child {
                    position: relative;
                    padding-right: 40px;

                    @media screen and (max-width: $screen-md) {
                        padding-right: 0;
                    }

                    &:after {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        width: 2px;
                        height: 96%;
                        background-color: #8c2ec0;

                        @media screen and (max-width: $screen-md) {
                            display: none;
                        }
                    }
                }

                &:last-child {
                    padding-left: 40px;

                    @media screen and (max-width: $screen-md) {
                        padding-left: 0;
                    }
                }
            }
        }

        &__statistic {
            background: url(../img/statistic-bg.png) center top no-repeat;
            padding-top: 791px;
            margin-top: -586px;

            @media screen and (max-width: $screen-sm) {
                padding-top: 640px;
            }

            &-traffic {
                padding-bottom: 150px;

                @media screen and (max-width: $screen-sm) {
                    padding-bottom: 60px;
                }
            }

            &-tisers {
                padding-bottom: 150px;

                @media screen and (max-width: $screen-sm) {
                    padding-bottom: 60px;
                }
            }

            &-charts {
                &-wrapper {
                    display: flex;
                    padding-bottom: 150px;

                    @media screen and (max-width: $screen-sm) {
                        padding-bottom: 60px;
                    }

                    @media screen and (max-width: $screen-lg) {
                        flex-direction: column;
                        align-items: center;
                    }
                }

                &-block {
                    width: 50%;

                    @media screen and (max-width: $screen-lg) {
                        width: 100%;
                    }

                    &-op {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        @media screen and (max-width: $screen-lg) {
                            display: none;
                        }
                    }

                    &-title {
                        margin-bottom: 40px;
                        font-size: (18 / $size + rem);
                    }
                }

                &-list {
                    margin-top: 86px;
                    margin-bottom: 0;
                    padding-left: 0;
                    list-style: none;
                }

                &-item {
                    display: flex;
                    margin-bottom: 15px;

                    &-img {
                        width: 72px;
                    }

                    &-val {
                        margin-left: 100px;
                    }
                }
            }
        }

        &__questions {
            padding-top: 150px;
            background-image: url('../img/questions-bg.png'), url('../img/footer-bg.png');
            background-size: 500px auto, 100% auto;
            background-position: left bottom 200px, center bottom;
            background-repeat: no-repeat;

            @media screen and (max-width: $screen-sm) {
                padding-top: 60px;
                padding-bottom: 20px;
            }
        }
    }

    &-dashboard {
        position: relative;

        &__sidebar {
            z-index: 100;
            box-shadow: 0 15px 29px rgba(85, 85, 85, 0.05);
            background-color: $white;

            @media screen and (min-width: 1300px) {
                position: fixed;
                top: 0;
                left: 0;
                padding-left: 20px;
                width: 25%;
            }
        }

        &__content {
            position: relative;
            padding-bottom: 30px;
            padding-right: 30px;
            padding-left: 27%;
            width: 100%;
            min-height: 100vh;
            background-color: $bg-content;

            @media screen and (min-width: 1300px) {
                // flex: 0 0 75%;
                // max-width: 75%;
            }

            @media screen and (max-width: 1299px) {
                padding-right: 15px;
                padding-left: 15px;
            }

            &-burger {
                margin-right: 20px;
            }

            &-top-line {
                flex-wrap: wrap;
                padding-top: 70px;
                padding-bottom: 50px;

                @media screen and (max-width: 1299px) {
                    margin-bottom: 20px;
                    padding-top: 30px;
                    padding-bottom: 0;
                }
            }

            &-title-dropdown {
                margin-right: 20px;

                &-wrapper {
                    @media screen and (max-width: 1299px) {
                        display: flex;
                        justify-content: flex-start;
                        order: 6;
                        margin-top: 40px;
                        width: 100%;
                    }
                }
            }

            &-title {
                margin-right: 20px;
                font-size: (24 / $size + rem);
                font-weight: 600;
                letter-spacing: 0.24px;

                @media screen and (max-width: 576px) {
                    font-size: (21 / $size + rem);
                }
            }

            &-id {
                margin-right: 40px;
                letter-spacing: 0.15px;
                color: $text-secondary;

                @media screen and (max-width: 1299px) {
                    display: none;
                }
            }

            &-balance {
                position: relative;
                margin-right: 40px;
                font-size: (13 / $size + rem);
                letter-spacing: 0.13px;
                color: $text-secondary;

                @media screen and (max-width: $screen-sm) {
                    margin-top: 0;
                }

                &-title {
                    position: absolute;
                    top: -15px;
                    left: 0;

                    @media screen and (max-width: $screen-sm) {
                        display: none;
                    }
                }

                &-num {
                    font-size: (24 / $size + rem);
                    font-weight: 600;
                    letter-spacing: 0.24px;
                    color: $text-color;

                    @media screen and (max-width: $screen-sm) {
                        font-size: (18 / $size + rem);
                    }
                }
            }

            &-bell {
                margin-right: 28px;
            }

            &-banners {
                margin-bottom: 40px;
            }

            &-selects {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                margin-bottom: 20px;

                @media screen and (max-width: 1199px) {
                    margin-bottom: 40px;
                }
            }

            &-selectbox {
                margin-right: 40px;
                padding-top: 15px;
                padding-bottom: 15px;
                padding-right: 15px;

                &:last-child {
                    margin-right: 0;
                }

                @media screen and (max-width: 1199px) {
                    margin-right: 20px;
                }
            }

            &-datepicker {
                margin-right: 40px;

                @media screen and (max-width: 1199px) {
                    margin-right: 20px;
                }

                @media screen and (max-width: $screen-sm) {
                    order: 4;
                    margin-right: 0;
                }

                @media screen and (max-width: $screen-sm) {
                    margin-top: 15px;
                }
            }

            &-chart {
                margin-bottom: 70px;

                @media screen and (max-width: 1199px) {
                    margin-bottom: 40px;
                }
            }

            &-update-time {
                width: 300px;
                line-height: 24px;
                color: $text-secondary;
            }

            &-info-item {

                @media screen and (max-width: $screen-md) {
                    margin-right: 40px;
                }

                &-title {
                    font-size: 1rem;
                    font-weight: 500;
                    letter-spacing: 0.16px;
                    white-space: nowrap;
                    color: $text-secondary;
                }

                &-value {
                    font-size: (36 / $size + rem);
                    font-weight: 600;
                    letter-spacing: 0.36px;
                    white-space: nowrap;
                }
            }

            &-new-report {

                &-line-sort {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    @media screen and (max-width: $screen-md) {
                        flex-wrap: wrap;
                    }

                    &-item {
                        @media screen and (max-width: $screen-md) {
                            margin-bottom: 10px;
                        }
                    }
                }

                &-select-date {
                    @media screen and (max-width: $screen-md) {
                        order: 1;
                    }
                }

                &-datepicker {
                    @media screen and (max-width: $screen-md) {
                        order: 5;
                    }
                }

                &-select-min {
                    @media screen and (max-width: $screen-md) {
                        order: 2;
                    }
                }

                &-link-icon {
                    @media screen and (max-width: $screen-md) {
                        order: 3;
                    }
                }

                &-btn-save {
                    white-space: nowrap;
                    @media screen and (max-width: $screen-md) {
                        order: 4;
                    }
                }
            }
        }
    }
}

// Глобальные стили для компонентов bootstrap

// Компонент dropdown
.dropdown-menu {
    position: relative;
    padding-top: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-left: 40px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px 25px rgba(85, 85, 85, 0.1);
    // @media screen and (max-width: 576px) {
    //     &:after {
    //         display: none;
    //     }
    // }

    &:after {
        content: '';
        position: absolute;
        top: -14px;
        right: 13px;
        border: 8px solid transparent;
        border-bottom: 8px solid $white;
    }

    .dropdown-item {
        padding: 0;
        font-weight: 600;
        line-height: 32px;
        letter-spacing: 0.15px;
        background-size: 13px;
        transition: all .15s;

        &:hover {
            background-color: transparent;
            color: $primary;
            transition: all .15s;
        }

        &_active {
            position: relative;

            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: -21px;
                width: 13px;
                height: 13px;
                background-image: url('../img/check-primary.svg');
                background-size: cover;
                background-repeat: no-repeat;
                transform: translateY(-50%);
            }
        }
    }
}

// компоненты формы
.form-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: (20 / $size + rem);

    &_mb-30 {
        margin-bottom: (30 / $size + rem);
    }

    &_mb-40 {
        margin-bottom: (40 / $size + rem);
    }

    &_mb-60 {
        margin-bottom: (60 / $size + rem);
    }

    &-title {
        font-weight: 600;
        letter-spacing: 0.15px;

        @media screen and (max-width: $screen-sm) {
            margin-bottom: (12 / $size + rem);
        }

        &-accent {
            color: $primary;
        }

        &-star {
            color: #f143a8;
        }
    }
}

.form-control-wrapper {
    width: 440px;
}

.form-control {
    border: 1px solid #dfe3e9;

    &__textarea-lg {
        height: 170px !important;
    }
}

.form-text {
    margin-top: (10 / $size + rem);
    width: 100%;
    font-size: (14 / $size + rem);
    letter-spacing: 0.14px;
    color: #999999 !important;
}

.input-group-append {
    position: absolute;
    top: 3px;
    right: 5px;
    z-index: 5;
    margin-left: 0;
}

.input-group-text {
    border: none;
    background-color: transparent;
    font-weight: 600;
    color: $primary;
}

textarea {
    min-height: 76px;
    border-radius: 3px;
    resize: none;
}

// компонент кнопка
.btn {
    padding-right: (20 / $size + rem);
    padding-left: (20 / $size + rem);
    font-size: (15 / $size + rem);
    font-weight: 400;

    &-sm {
        padding-top: (5 / $size + rem);
        padding-bottom: (5 / $size + rem);
        padding-right: (19 / $size + rem);
        padding-left: (19 / $size + rem);
    }

    &-md {
        padding: 7px 38px;
    }

    &-lg {
        padding: 11px 30px;
    }

    &-xl {
        padding: 15px 44px;
    }

    &-primary {
        color: #fefefe;
        border: none;
        background-color: $primary;
    }

    &-red {
        color: #fefefe;
        background-color: $red;
    }

    &-green {
        color: white;
        box-shadow: 0 15px 29px rgba(29, 29, 29, 0.15), inset 0 -3px 0 #6fb017;
        background-color: #85c82c;

        &:hover {
            color: white;
            background-color: #77b327;
        }
    }

    &-secondary {
        background-color: $btn-secondary;
    }

    &-blue {
        font-size: (15 /$size + rem);
        color: #fefefe;
        background-color: #4d93f3;
    }

    &-gray {
        color: $white;
        background-color: #6a6a6a;
    }

    &-pink {
        color: $white;
        background-color: $pink;
    }

    &-bold {
        font-weight: 600;
    }

    &-outline-dark {
        border: 1px solid #0f0f0f;
    }

    &-form {
        margin-right: (10 / 16 + rem);
        padding: 10px 40px;
        box-shadow: 0 15px 25px rgba(29, 29, 29, 0.05);
        border-radius: 5px;

        @media screen and (max-width: $screen-sm) {
            margin-bottom: (12 / $size + rem);
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &_icon {
        position: relative;
        padding-right: 50px;

        &-plus {
            position: absolute;
            top: 50%;
            right: 20px;
            font-size: (30 / $size + rem);
            font-weight: 600;
            line-height: 1rem;
            color: $primary;
            transform: translateY(-50%);
        }
    }

    .icon-telegram-tr {
        margin-right: 8px;
        width: 23px;
        height: 21px;
        fill: $white;
    }
}

// Компонент модальное окно
.modal {

    &-dialog {
        max-width: 610px;

        @media screen and (max-width: $screen-sm) {
            padding-top: 40px;
        }
    }

    &-content {
        position: relative;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 5px 25px rgba(85, 85, 85, 0.1);

        &_center {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 70px 100px;

            @media screen and (max-width: $screen-sm) {
                padding: 30px 10px;
                text-align: center;
            }
        }
    }

    &-header {
        margin-bottom: 30px;
        padding: 0;
        border: none;
    }

    &-title {
        letter-spacing: 0.14px;
        line-height: 1.3;

        &_lg {
            font-size: (18 / 16 + rem);
            font-weight: 600;
            line-height: 30px;
            letter-spacing: 0.18px;
        }
    }

    &-body {
        padding: 0;

        .col {
            @media screen and (max-width: $screen-sm) {
                margin-bottom: 20px;
            }
        }
    }

    // &-field-search {
    //     border: 1px solid #dfe3e9;
    //     background-color: #f7f7f7;
    // }

    &-scroll-block {
        border-radius: 3px;
        border: 1px solid #dfe3e9;
        margin-top: 10px;

        &__wrapper {
            padding: 20px;
            max-height: 205px;
        }
    }

    &-footer {
        margin-top: 20px;
        padding-bottom: 0;
        border: none;

        @media screen and (max-width: $screen-sm) {
            justify-content: center;
        }
    }

    .close {
        position: absolute;
        top: -40px;
        right: -40px;
        opacity: 1;

        @media screen and (max-width: $screen-sm) {
            right: 15px;
        }
    }

    .icon-cross-remove-sign {
        width: 25px;
        height: 25px;
        fill: $white;
    }

    .icon-correct-symbol {
        margin-bottom: 40px;
        width: 64px;
        height: 50px;
        fill: $primary;
    }
}

// Стили для сторонних компонентов
// Стили для библиотеки simpleBar
.simplebar-scrollbar {
    width: 4px;
    border-radius: 1px;
    background-color: $primary;
    &:before {
        display: none;
    }
}
.simplebar-track.simplebar-vertical {
    width: 4px;
}

.simplebar-track.simplebar-horizontal {
    bottom: -30px;
    height: 4px;
    border-radius: 1px;
    background-color: #e7e7e7;

    .simplebar-scrollbar {
        top: 0;
        height: 4px;
        border-radius: 1px;
        background-color: $primary;
    }
}

// Стили на классы
.container {
    max-width: 1280px;
}

.my-mt-30 {
    margin-top: 30px;
}

.my-mt-40 {
    margin-top: 40px;
}

.overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);

    &_active {
        display: block;
    }
}

.main-overlay {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    visibility: hidden;
    background-color: rgba(0, 0, 0, .95);
    transition: all .15s;

    &_active {
        opacity: 1;
        visibility: visible;
        transition: all .15s;
    }
}


.text-color {
    color: $text-color;
}

.primary-light {
    background-color: $primary-light;
}
