.burger {
    width: 30px;
    height: 20px;
    display: inline-block;
    border: none;
    background-color: transparent;
    cursor: pointer;
    @media screen and (min-width: 1300px) {
        display: none;
    }
    .icon {
        width: 30px;
        height: 20px;
        fill: $text-color;
    }
    // span {
    //     left: 0;
    //     top: 50%;
    //     width: 100%;
    //     height: (4 / 16 + em);
    //     position: absolute;
    //     margin-top: -2px;
    //     display: inline-block;
    //     border-radius: 6px;
    //     background: $text-color;
    // }
    // &:after,
    // &:before {
    //     content: "";
    //     width: 100%;
    //     height: (4 / 16 + em);
    //     left: 0;
    //     position: absolute;
    //     border-radius: 6px;
    //     background: $text-color;
    // }
    // &:after {
    //     width: 22px;
    //     bottom: 0;
    // }

    // &:before {
    //     top: 0;
    // }
}
