.burger {
    padding: 0;
    width: 45px;
    height: 30px;
    display: inline-block;
    border: none;
    background-color: transparent;
    cursor: pointer;

    @media screen and (min-width: 1300px) {
        display: none;
    }

    .icon {
        width: 30px;
        height: 20px;
        fill: $text-color;
    }
}
