mixin am-charts(props)
    .am-charts&attributes(attributes)
        .am-charts__title= props.title
        .am-charts__charts(id= props.id)
        if (props.lines)
            .am-charts__name-lines
                .am-charts__name-line.am-charts__name-line-first pornhub.com
                .am-charts__name-line.am-charts__name-line-second redtube.com
                    