.likes {
    display: flex;
    align-items: center;

    &__btn {
        border: none;
        background-color: transparent;

        .icon {
            margin-right: 12px;
            width: 17px;
            height: 16px;
            fill: $text-secondary;
        }

        &-count {
            font-weight: 600;
        }
    }
}
