.social {
    margin-top: 50px;
    &__link {
        display: block;
        font-weight: 600;
        line-height: 40px;
        letter-spacing: 0.15px;
        &:hover {
            text-decoration: none;
        }
        &_tg {
            color: #00acea;
        }
        &_vk {
            color: #2e77a4;
        }
        .icon {
            margin-right: 31px;
            width: 20px;
            height: 20px;
        }
    }
}
