mixin social()
    .social&attributes(attributes)
        a(href='#').social__link.social__link_tg
            +icon('telegram')
            |Мы в Telegram
        a(href='#').social__link.social__link_vk
            +icon('vk')
            |Мы в ВКонтакте
