.link-icon {
    display: flex;
    align-items: center;
    padding: 0;
    border: none;
    background-color: transparent;
    font-size: (18 / $size + rem);
    font-weight: 600;
    white-space: nowrap;
    color: $text-color;

    &__plus {
        margin-left: 5px;
        font-size: (26 / $size + rem);
        font-weight: 600;
        color: $primary;
    }
}